:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #EDC125;
  --color-secondary: #19376d;
  --color-dark: #654702;
  --color-bg: #04152d;

  /* Fonts */
  --font-roboto: "Roboto";
}
